<aside class="sidebar">
  <div class="sidebar-header">
    <img src="/quiz1/image/logo.svg" class="nav-icon" alt="Home Icon" />
    <h2>Overview</h2>
  </div>

  <hr class="sidebar-divider" />

  <h3 class="menu-label">Menu</h3>

  <nav class="sidebar-nav">
    <ul>
      <li>
        <a href="/quiz1/" class="nav-link active">
          <img src="/quiz1/image/home.svg" class="nav-icon" alt="Home Icon" />
          <span class="nav-icon"></span>
          <span>Home</span>
        </a>
      </li>
      <li>
        <a href="/quiz1/profile/" class="nav-link">
          <img src="/quiz1/image/profile.svg" class="nav-icon" alt="prifile Icon" />
          <span class="nav-icon"></span>
          <span>Profile</span>
        </a>
      </li>
      <li>
        <a href="/quiz1/hometown/" class="nav-link">
          <img src="/quiz1/image/Hometown.svg" class="nav-icon alt="hometown Icon" />
          <span class="nav-icon"></span>
          <span>Hometown</span>
        </a>
      </li>
      <li>
        <a href="/quiz1/food/" class="nav-link">
          <img src="/quiz1/image/food.svg" class="nav-icon" alt="food Icon" />
          <span class="nav-icon"></span>
          <span>Local Food</span>
        </a>
      </li>
      <li>
        <a href="/quiz1/tourist/" class="nav-link">
          <img src="/quiz1/image/tourist.svg" class="nav-icon" alt="tourist Icon" />
          <span class="nav-icon"></span>
          <span>Tourist Place</span>
        </a>
      </li>
    </ul>
  </nav>
  <!-- <div class="sidebar-footer">
    <a href="#" class="nav-link">
      <img src="/image/setting..svg" class="nav-icon" alt="setting Icon" />
      <span class="nav-icon"></span>
      <span>Settings</span>
    </a>
  </div> -->
</aside>
